.ricochetscoreboard {
    position: absolute;
    z-index: 100;
    flex-direction: column;
    font-family: Arial;
    font-size: 20px;
    color: white;
    width: 100%;
    height: 100%;
    align-items: center;
    justify-content: center;
    opacity: 0;
    transform-origin: 50% 50%;

    &.open {
        opacity: 1;
    }

    .name {
        flex-grow: 1;
    }

    .canvas {
        flex-direction: column;
        min-height: 80%;
        min-width: 70%;
        background-color: rgba( 0, 0, 0, 0.9 );
        border: 2px solid rgba( gray, 0.1 );

        .header {
            color: #FFA000;
            padding-bottom: 20px;
            padding-top: 50px;
            padding-right: 40px;
        }

        .pointstext, .latencytext, .voicetext {
            margin-right: 50px;
        }

        .voice, .kills, .ping {
            margin-right: 100px;
            text-align: left;
        }

        .entry {
            margin-bottom: 2px;
            padding-left: 80px;
            height: 25px;

            &.me {
                color: white;
                background-color: #FFA0000F;
            }
        }
    }
}
