Crosshair {
	position: absolute;
	left: 50%;
	top: 50%;
	background-color: white;
	border-radius: 10px;
	width: 4px;
	height: 4px;
	transform: translate( -50% -50% );
}

DiscHUD {
	position: relative;
	left: 50%;
	bottom: 20px;
	width: 25%;

	.image {
		position: absolute;
		top: 50%;
	}
}
