@using Sandbox;
@using Sandbox.UI;
@using System.Collections.Generic;
@inherits Panel
@namespace Ricochet.Menu
@attribute [StyleSheet]

<root class="root">
    <div class="createGameBox outerBorder">
        <label class="popupText">Create Server</label>
        <div class="inner outerBorder">
            <label for="mapselect">Map</label>
			<DropDown class="innerBorder" Value:bind=@Map Options=@MapOptions></DropDown>
        </div>
        <div class="buttonRow">
            <button class="outerBorder" onclick="@Start">Start</button>
            <button class="outerBorder" onclick="@Cancel">Cancel</button>
        </div>
    </div>
</root>

@code
{
	List<Option> MapOptions = new() {
		new Option( "< Random Map >", "" ),
		new Option( "rc_arena", "lambdagaming.rc_arena" ),
		new Option( "rc_deathmatch", "lambdagaming.rc_deathmatch" ),
		new Option( "rc_deathmatch2", "lambdagaming.rc_deathmatch_2" )
	};

	public string Map { get; set; }
	public int MaxPlayers { get; set; }

	public void Start() => Delete();

	public void Cancel() => this.Navigate( "/" );
}
