@import "Menu.razor.scss";

.browserWindow {
    margin: auto;
    width: 857px;
    height: 583px;
    background-color: #4C5844;
    flex-direction: column;
    padding: 10px;
    padding-bottom: 50px;

    .inner {
        margin: auto;
        margin-bottom: 0;
        width: 100%;
        height: 406px;
        background-color: #3e4637;
    }

    .buttonBox {
        width: 100%;
        height: 45px;
        flex-direction: row;

        .row {
            margin: auto;
            margin-right: 0;
        }
    }

    .button {
        font-size: 14px;
        width: 70px;
        height: 22px;
        margin-right: 10px;
        padding-left: 4px;
        padding-top: 2px;
    }

    .search {
        background-color: #3e4637;
        margin: auto;
        margin-left: 5px;
        height: 22px;
        width: 170px;
        font-size: 12px;
    }
}

.server-list {
    width: 100%;

    .iconpanel {
        color: white;
    }

    ServerRow {
        height: 30px;
        background-color: transparent;

        .title, .players, .ping {
            color: white;
            font-family: Consolas;
            font-size: 15px;
        }
    }

    .header {
        margin-left: auto;
        margin-right: 0;
    }
}

ServerRowPackage {
    

    .org {
        display: none;
    }
}
